body {
	padding: 0 20px;
	background-color: #c20000;
}
#control-box {
	background-color: white;
	padding: 0;
	overflow: auto;
	height: 550px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
	#sectionlines {
		background: url(sq_joystick_back.png) 0 0;
		border: 5px outset #ccffff;
		position: relative;
		margin: 10px;
		height: 110px;
		width: 110px;
		display: inline-block;
		float: left;
	}
		#joystick{
			background-color: #800080;
			border-radius: 50%;
			height: 30px;
			width: 30px;
			position: absolute;
			box-shadow: 3px 3px 8px hsla(0, 0%, 10%, 0.7);
			z-index: 3;
		}
		
	#inputs {
		border-left: 5px inset #afafaf;
		outline: 142px solid hsla(0, 0%, 0%, 0.5);
		z-index: 4;
		background-color: #efefef;
		padding: 10px;
		margin: 0 0 0 10px;
		display: block;
	}
		#inputs .Txt {
			display: inline-block;
			margin: 5px;
		}
		#inputs .slid {
			display: inline-block;
			margin: 5px;
		}
		#inputs p {
			display: inline-block;
		}
		#inputs > button {
			background-color: #0000ff;
			border: none;
			color: white;
			font-size: 1em;
			margin: 5px;
			border-radius: 5px;
			outline: none;
			box-shadow: 0px 3px hsla(180, 100%, 40%,0.8);
		}
		#inputs button:active {
			background-color: #000080;
			transform: translateY(2px);
			color: #cccccc;
			box-shadow: 0px 1px hsla(180, 100%, 10%,0.8);
		}
		
	#button-box {
		/*border: 1px solid green;*/
		display: inline-block;
		width: auto;
		height: auto;
		padding: 5px;
		transform: translateX(-150px);
	}
	    #button-box button {
			height: 25px;
			width: 25px;
			align-content: center;
			border-color: #666666;
			border-radius: 50%;
			outline: none;
			float: left;
			margin: 3px;
		}
#main {
	box-shadow: 0px 5px 30px hsla(0, 0%, 0%, 1.0);
}
		
#data {
    /*border: 1px solid blue;*/
	background-color: #afafaf;
	text-align: center;
	font-size: 2.5em;
	padding: 10px 0;
	z-index: 8;
}
    #data > button {
	    background-color: black;
		color: white;
		padding: 5px;
		font-size: .5em;
		outline: none;
		margin: 7px;
	}
#smlback {
	display: none;
}
	
@media only screen and (max-width: 825px) {
	#control-box {
		justify-content: center;
		flex-wrap: wrap;
	}
	#sectionlines {
		position: sticky;
		z-index: 5;
		top: 8px;
		left: 150px;
	}
	#inputs {
		width: 100%;
		margin: 0 0 0 150px;
		outline: none;
		border-top: 5px inset #afafaf;
	}
	#button-box {
		position: sticky;
		transform: translate(-155px,-140px);
		top: 0px;
	}
	#smlback {
		display: inline-block;
		position: absolute;
		left: 28px;
		float: left;
		z-index: 2;
		background-color: hsla(0, 0%, 0%, 0.5);
		height: 104%;
		width: 150px;
	}
}